.aboutAs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 70%;
    overflow: auto;
    padding-top: 12px;
}

.aboutAs_pdf{
    width: 20vh;
}

.twoDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
    padding: 1vh;
}

.dev_avatar{
    border-radius: 50%;
}
.about_files{
    display: flex;
}
.a_aboutAs{
    color: aliceblue;
}
.certificateImg{
    width: 30vh;
}