* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    /* height: 99%; */
}

html {
    height: 100%;
    width: 100%;
    background-color:#2a354e ;
}

body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    margin: 20px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    scroll-margin-block: .10em;
    background: grey;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
    height: 10%;
}