body{
    height: 100%;
    width: 99%;
    background-image: url('..//1.jpeg');
    background-repeat: no-repeat;
    background-size:50.7% 108%;
}
.reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.regitrBody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 104.3vh;
    display: flex;
    justify-content: space-between;
    height: 62vh;
    background: transparent;
    
}


.reg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vh;
    background-color: transparent

}


input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    font-size: 2vh;
    cursor: pointer;
    outline: none;
    padding: 0 1vh;
    height: 4vh;
    width: 33vh;
    
}

label{
    margin-left: 1.6vh;
    font-size: 1.8vh;
    font-weight: bold;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgb(10, 10, 10);
}

.nameLast{
    display: flex;
}
.inp{
    width: 13vh;
}

button{
    height: 5vh;
    width: 25vh;
    color: antiquewhite;
    font-size: 2vh;
    border:none;
    cursor: pointer;
    background-color:#0B0047 ;
    margin-bottom: 2vh;
    border-radius: 1vh;
}

.info{
    width: 35vh;
    display: flex;
    align-items: center;
}

.trush{
   text-decoration: none;
   font-size: 1.5vh;
  
}


.range{
    width: 4vh;
}
