.section3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    max-height: 100%;
    overflow-x: auto;
    /* border: 1px solid red; */
}
/* background-color: #111520; */

.section3 > *{
    margin-bottom: 1vh;
}

.section3 > header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #111520;
    width: 100%;
    min-height: 2em;
    /* border-bottom: 1px solid #111520; */
}

.section3 > header > img{
    width: 0.8em;
    margin-right: 2vh;
    cursor: pointer;
}

.picAndFullName{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 25%;
    background-color: #111520;
    /* border: 1px solid red; */
}

.section3Pic{
    width: 70px;
    height: 70px;
    margin: 0;
    margin-top: 1vh;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fullNameGeneral{
    margin: 0;
}

.section3Online{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 50%;
}

.section3Online > p {
    margin: 0;
}
.section3Round{
    width: 8px;
    height: 8px;
    margin-left: 5px;
    background-color: green;
    border-radius: 5px;
}

.personalinfo{
    display: flex;
    flex-direction: column;
    background-color: #111520;
    width: 100%;
}

.section3Icons > p > a {
    color: gray;
    text-decoration: none;
}

.personalinfoHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
    cursor: pointer;
}

.personalinfoHeader > p{
    color: white;
}

.personalinfoOpened{
    display: flex;
    align-items: center;
    height: 65%;
}

.section3Icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    /* height: 50%; */
    /* padding-right: 5px; */
}

.section3Icons > img{
    width: 50%;
    height: 1em;
    margin-top: 0.5em;
    margin-right: 0.8em;
}

.section3Icons > p{
    margin: 0;
    margin-top: 0.5em;
    width: 100%;
}

.picturesinfo{
    display: flex;
    flex-direction: column;
    background-color: #111520;
    width: 100%;
}

.picturesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
    cursor: pointer;
}

.picturesHeader > p{
    color: white;
}

.section3Openedimages {
    width: 100%;
    max-height: 25vh;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}

.section3OpenedImage {
    width: 30%;
    height: 10vh;
    margin-bottom: 1vh;

    /* border: 1px solid red; */
}

.filesinfo{
    display: flex;
    flex-direction: column;
    background-color: #111520;
    width: 100%;
}

.filesHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
    cursor: pointer;
}

.filesHeader > p{
    color: white;
}

.section3Openedfiles {
    width: 100%;
    max-height: 25vh;
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
}

.section3Openedfile {
    width: 30%;
    height: 10vh;
    margin-bottom: 1vh;

    /* border: 1px solid red; */
}